.login-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: black;
    color: #fff;
    justify-content: center;
    align-items: center;

    .navLogo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 8%;
        &:hover {
            cursor: pointer;
        }
        // color: #fff;
    }

    .sign-in-form {
        // background-color: #1a1a1a;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 400px;

        label {
            color: #fff;
        }

        svg {
            margin-left: 10px;
        }

        &__title {
            font-size: 24px;
            margin-bottom: 20px;
            text-align: center;
            color: #fff;
        }

        &__input {
            width: 100%;
            padding: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
            border: 1px solid #333;
            // border-radius: 5px;
            background-color: black;
            color: #a2a3a5;
        }

        &__button {
            width: 100%;
            padding: 10px;
            margin-top: 30px;
            // background-color: #e50914;
            background-color: rgb(255 255 255 / 10%);
            border-top: 3px solid #8e8e8e;
            border-radius: 5px;
            color: #fff;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s;

            &:hover {
                background-color: #f3425f;
            }
        }

        &__link {
            margin-top: 30px;
            text-align: center;
            font-size: 12px;
            color: #a2a3a5;

            a {
                // color: #fff;
                color: #a2a3a5;

                text-decoration: underline;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .error {
            color: #f3425f;
            font-size: 12px;
            margin-left: 8px;
            margin-bottom: 3px;
        }
    }
}

footer {
    margin-top: auto;
    width: 100%;
    text-align: center;
}
