.customer-page{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    h1 {
        font-size: 2em;
        font-weight: bold;
    }
}

@media screen and (max-width: 1200px) {
    .customer-page{
        justify-content:flex-start;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 768px)
{
    .customer-page{
        align-items: center;
    }
}
