.order-page {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
}

.order-page h1 {
    font-size: 2em;
    font-weight: bold;
}

@media screen and (max-width: 1200px) {
    .order-page {
        justify-content: flex-start;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .order-page {
        align-items: center;
    }
}

.order-container {
    width: 100%;
    overflow-x: auto; /* Horizontal scrolling if needed */
    max-height: 500px; /* Optional: Max height to constrain table size */
}

.order-container table {
    width: 100%; /* Ensure table width matches container width */
    min-width: 600px; /* Adjust based on table content for smaller screens */
}

/* Responsive adjustments for smaller screens */
@media screen and (max-width: 600px) {
    .order-container {
        padding: 0 1rem; /* Add padding for better spacing on small screens */
    }

    .order-container table {
        min-width: 100%; /* Adjust to fit within container */
        font-size: 0.875em; /* Reduce font size for smaller screens */
    }
}
