.profile-page-container {
    display: flex;
    min-height: 100vh;
    // margin-top: 100px;
    // padding-top: 30px;
    // padding-bottom: 30px;
    // padding-inline-start: 40px;
    // padding-inline-end: 40px;
    padding: 0 100px 0 100px;

    .sidebar-container {
        width: 250px;
        background-color: #f4f4f4;
        height: 100%;
    }

    .personal-info-form {
        flex: 1;
        padding: 150px;
    }

    .my-order {
        flex: 1;
        padding: 150px 0px 150px 150px;
        max-height: 100vh;
    }
    .my-order-content {
        overflow-y: auto;
        min-height: 100%;
        max-height: 100%;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    label {
        margin-top: 10px;
    }
}
